In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        29 non-null     object
 1   Type        29 non-null     object
 2   Price       29 non-null     object
 3   Images url  29 non-null     object
dtypes: object(4)
memory usage: 1.0+ KB

In [50]:
df['Name']

0             Oranges
1              Apples
2             Bananas
3             Lettuce
4            Tomatoes
5               Milk
6              Cheese
7             Parle-G
8      Cottage cheese
9     mozrella cheese
10               lays
11               corn
12              Pepsi
13            RedBull
14                Tea
15              Water
16            Noodles
17           cococola
18     Monster Energy
19             bingo
20              Bread
21       Potato chips
22           Too Yumm
23             Garlic
24             carrot
25           cucumber
26           EggPlant
27            spinach
28           Brocolli
Name: Name, dtype: object

In [51]:
df['Name'][0]

'Oranges'

In [52]:
df['Price'][0]

'$2.99'

In [83]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
stmer = SnowballStemmer('english')
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stmer.stem(w) for w in tokens if w  not in stopwords.words('english')]
    return " ".join(stemming)

In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
def cosine_sim(txt1,txt2):
    obj_ifid=TfidfVectorizer(tokenizer=tokenization)
    matrix=obj_ifid.fit_transform([txt1,txt2])
    similarity=cosine_similarity(matrix)[0]
[1]    return similarity

In [99]:
def recommendation(query):
    tokenized_query = tokenization(query)
    df['similarity'] = df['Type'].apply(lambda x: cosine_sim(tokenized_query, x))
    final_df = df.sort_values(by=['similarity'], ascending=False).head(3)[['Name', 'Price','Images url']]
    return final_df

In [100]:
df['Name'][0]

'oranges'

In [74]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\qccs\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\qccs\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [111]:
def recommendation(query, df, top_n=10):
    tokenized_query = tokenize(query)
    df['similarity'] = df['Type'].apply(lambda x: cosine_sim(' '.join(tokenized_query), x))
    final_df = df.sort_values(by=['similarity'], ascending=False).head(top_n)[['Name', 'Price',  'Images url']]
    return final_df

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [94]:
def tokenize(query):
    return query.lower().split()

def cosine_sim(tokenized_query, text):
    vectorizer = CountVectorizer().fit([tokenized_query, text])
    vectors = vectorizer.transform([tokenized_query, text])
    return cosine_similarity(vectors)[0, 1]

def recommendation(query, df, top_n=10):
    tokenized_query = tokenize(query)
    df['similarity'] = df['Type'].apply(lambda x: cosine_sim(' '.join(tokenized_query), x))
    final_df = df.sort_values(by=['similarity'], ascending=False).head(top_n)[['Name', 'Price', 'Type', 'Images url']]
    return final_df

query = 'orange'
result = recommendation(query, df)
print(result)

            Name  Price        Type  \
0        oranges   2 99      fruits
15         water   1 00      drinks
27       spinach   4 99  vegetables
26      eggplant   6 99  vegetables
25      cucumber   5 99  vegetables
24        carrot   4 99  vegetables
23        garlic   3 99  vegetables
22      too yumm   4 99      snacks
21  potato chips   6 99      snacks
20         bread   8 99      bakery

                                           Images url
0   https://media.istockphoto.com/id/185284489/pho...
15  https://www.google.com/url?sa=i&url=https%3A%2...
27  https://dukaan.b-cdn.net/1000x1000/webp/upload...
26  https://www.shutterstock.com/image-photo/auber...
25  https://www.shutterstock.com/image-photo/cucum...
24  https://blog-images-1.pharmeasy.in/blog/produc...
23  https://media.istockphoto.com/id/1340230644/ph...
22  https://m.media-amazon.com/images/I/71NIHBImUs...
21  https://india.neelamfoodland.in/cdn/shop/produ...
20  https://www.bhg.com/thmb/ov2S31znAvSCXqrpgJQ8r...

In [115]:

import pandas as pd
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

In [116]:
df = pd.read_csv('Grocery Lists2mainmini.csv')

In [117]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemr.stem(w) for w in tokens if w not in stopwords.words('english')]
    return "".join(stemming)

In [118]:
def cosine_sim(txt1, txt2):
    obj_tfidf = TfidfVectorizer(tokenizer=tokenization)
    tfidfmatrix = obj_tfidf.fit_transform([txt1, txt2])
    similarity = cosine_similarity(tfidfmatrix)[0][1]
    return similarity

In [119]:
stemr = SnowballStemmer('english')

In [120]:
def recommation(query):
    tokenized_query = tokenization(query)
    df['similarity'] = df['Type'].apply(lambda x: cosine_sim(tokenized_query,x))
    final_df = df.sort_values(by=['similarity'],ascending=False).head(3)[['Name','Price','Images url']]
    return final_df

In [122]:
recommation('vegetables')

C:\Users\qccs\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

        Name  Price                                         Images url
28  Brocolli  $5.00  https://cdn.britannica.com/25/78225-050-1781F6...
11      corn  $5.99  https://www.shutterstock.com/image-photo/singl...
27   spinach  $4.99  https://dukaan.b-cdn.net/1000x1000/webp/upload...